doctype html
html(lang="zh-cn")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    title= title
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/javascripts/style.js')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .header(style='background-image: url(https://wifi.weixin.qq.com/resources/images/background.jpg)')
        .container
            .starter-template
              img(src='http://www.cethik.com/images/logo.png')
              br
              br
              h2.shadowTitle
                | 欢迎使用 HIK-WIFI
    .starter-template
      p 已成功连接互联网
    script $("body").css('padding-top', '0px');