extends layout

block content
  script(type='text/javascript' src='/javascripts/roll.js')
  //script(src="http://www.jq22.com/jquery/1.11.1/jquery.min.js")

  .container#rollContainer.block_container
    .starter-template
      h1 AntRoll
      p 随机数生成器
      .input-group
        span.input-group-addon 最小值
        input.form-control(type='number' maxlength='40px')#min
      br
      .input-group
        span.input-group-addon 最大值
        input.form-control(type='number')#max

      br
      .input-group
        span.input-group-addon 结&nbsp;&nbsp;&nbsp;果
        input.form-control(type='text' readonly='true')#result
      br
      button.btn.btn-block.btn-success(onclick="roll()")
        | Roll

    // /.container
