doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		link(rel='stylesheet' type='text/css' href='/stylesheets/style-choujiang.css')
		script(type="text/javascript" src="/javascripts/jquery-1.7.2-min.js")
		script(type="text/javascript" src="/javascripts/easing.js")
		script(type="text/javascript" src="/javascripts/cj.js")
		
	body
		//.bg
			img(src="/stylesheets/bg.jpg")
			
		.main_bg
			//p 欣盛泰·金通之夜
			.main
				.main_res 欣盛泰·金通之夜
				.num_bg
				.num_mask
				.num_box
					.num
					.num
					.num
					.num
					.btn
				//span.phone HIGH起来~
				//.start(id="btntxt" onclick="start()") 开始
				

	//script(type="text/javascript" src="/javascripts/jquery-1.8.0.js.js")
	
//	script$(function(){var u = 265;$('.btn').click(function(){	if(isBegin) return false;	isBegin = true;	$(".num").css('backgroundPositionY',0);	var result = numRand();$('#res').text('摇奖结果 = '+result);var num_arr = (result+'').split('');$(".num").each(function(index){var _num = $(this);setTimeout(function(){_num.animate({ backgroundPositionY: (u*60) - (u*num_arr[index])},{ duration: 6000+index*3000,easing: "easeInOutCirc",complete: function(){if(index==3) isBegin = false;}});}, index * 300);});});});
	
	
	