extends layout

block content
  .container.block_container
    .starter-template
      h1 康威生命游戏
      |         
      p.lead
        | 养殖你的信息生命体 =w=
      canvas#conway(width="801px"  height="502px")
      br
      .input-group(style="width: 250px; margin: auto")
        span.input-group-addon 速度
        input.form-control#speed(type="number" value="1" step="0.1" min="0" max="50")
        span.input-group-addon tik/s
      button.btn.btn-defualt.btn-success.btn-sm#startstop(style="width: 250px; margin-top: 10px")
        span.glyphicon.glyphicon-play#playicon
      br
      button.btn.btn-defualt.btn-info.btn-sm#clearArea(style="width: 250px; margin-top: 10px") clear
  script(src="/javascripts/conway_display.js")