extends layout

block content
  .container.block_container
    .starter-template
      h1= title
      |         
      p.lead
        | technology for miracle life
        br
        br
        |  Building...
        br
        br
        |  by Antknt47
